<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timestamp Microservice</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1 class="main-title">Timestamp Microservice</h1>
    <span class="line"></span>
    <h2 class="secondary-title">Example Usage:</h2>
    <div class="first-links">
        <a class="link" href="api/2021-8-23">[my project url]/api/2021-8-23</a>
        <a class="link" href="api/1451001600000">[my project url]/api/1451001600000</a>
    </div>
    <h2 class="secondary-title">Example Output:</h2>
    <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
    <p>by <span><a href="https://github.com/Moe95524/Timestamp-Microservice" target="_blank">Mohammed Alhashim</a></span></p>

</body>
</html>

